#workout {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: rgba(255, 255, 255, 0.9);
    /* text-align: center; */
}
.center{
    text-align: center;
    justify-content: center;
}
#workout button {
    background-color: #8860d0;
    color: white;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #8860d0;
    margin: 10px;
}
@media only screen and (max-width: 992px) {
    #newUser {
        width: 65%;
    }
    #newUser label {
        display: inline-block;
        width: 40%;
    }
    #newUser input {
        width: 50%;
    }
    #newUser select {
        width: 50%;
    }
}
@media only screen and (max-width: 768px) {
    #newUser {
        width: 75%;
    }
    #newUser label {
        display: inline-block;
        width: 90%
    }
    #newUser input {
        width: 90%;
    }
    #newUser select {
        width: 90%;
    }
}